body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

*{
    box-sizing: border-box;
  }

  .bg-image{
    background: url('/photo/engine.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0%;
    z-index: 2; 
  }
  
  .header-cont{
    max-width: 1400px;
    display: flex; 
    margin: 0 auto;
    padding-top: 5px;
  }

  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 5px;
    float: left;
    width: 50%;
    background: #f1f1f1;
  }

  .aboveline{
    display: flex;
    justify-content: space-between; 
  }
  