.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}

.product-link:hover {
    color: #000 !important;
    text-decoration: none
}

.photo{
    width:100px;
    height:100px;
}


.link1 {
  text-decoration: none;
  color: #666;
  padding-right: 10px;
}

.link1:hover {
text-decoration: none;
}

.link2 {
color: black;
}

.link2:hover {
text-decoration: none;
color: black;
}

