<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">

        <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
                <a href="/">
                        <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
                </a>
                <div th:if="${user.login}">
                        <div class="dropdown text-end">
                                <a href="/cart" class="link1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                        </svg>
                                </a>
                                <a href="/profile">
                                        <img src="/static/images/1.png" alt="mdo"
                                             width="32" height="32" class="rounded-circle">
                                </a>
                        </div>
                </div>
                <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
        </div>
</nav>

<div class="container mt-4">
        <h1 style="text-align: center">Панель адміністратора: додавання товарів</h1>
        <hr>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 25%" href="/addCategory">
                Додати нові категорії
        </a>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 49%" href="/addModel">
                Додати нові бренди і моделі
        </a>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 25%" href="/addProducer">
                Додати нового виробника
        </a>
        <br>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 100%"
           data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="true" aria-controls="collapseExample">
                Додати новий товар
        </a>
        <div class="collapse mb-3" id="collapseExample" style="">
                <form th:action="@{/addG}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                                <label for = "name">Назва товару</label>
                                <input type="text" name="title" id="name" required>
                        </div>
                        <div class="form-group">
                                <label for = "number">Серійний номер товару</label>
                                <input type="number" name="number" id="number" required>
                        </div>
                        <div class="form-group">
                                <label for = "description">Опис товару</label>
                                <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>
                        <div class="form-group">
                                <label for="price">Ціна товару</label>
                                <div class="input-group mb-3">
                                        <input type="number" class="form-control" id="price" name="price" required>
                                        <div class="input-group-append">
                                                <span class="input-group-text">грн.</span>
                                        </div>
                                </div>
                        </div>

                        <div class="form-group">
                                <div class="custom-file">
                                        <input type="file" name="file" id="file" required>
                                        <label class="custom-file-label" for="file">Виберіть основне фото для товару</label>
                                </div>
                        </div>

                        <div class="form-group">
                                <div class="custom-file">
                                        <input type="file" name="file2" id="file2">
                                        <label class="custom-file-label" for="file2">Виберіть фото для товару в галерею</label>
                                </div>
                        </div>

                        <div class="form-group">
                                <div class="custom-file">
                                        <input type="file" name="file3" id="file3">
                                        <label class="custom-file-label" for="file3">Виберіть фото для товару в галерею</label>
                                </div>
                        </div>


                        <div class="form-group">
                                <label for="searchCat">Категорія</label>
                                <select name="categoryGroup" id="searchCat" class="form-control" title="Виберіть категорію" required>
                                        <option value="">-- Оберіть категорію --</option>
                                        <option th:each="categoryGroup : ${categoryGroup}" th:value="${categoryGroup.id_category_group}">
                                                [[${categoryGroup.name_category_group}]]
                                        </option>
                                </select>
                        </div>

                        <div class="form-group">
                                <label for="searchSubCat">Підкатегорія (для того щоб обрати, оберіть категорію)</label>
                                <select name="category" id="searchSubCat" class="form-control" title="Виберіть підкатегорію" required>
                                </select>
                        </div>

                        <div class="form-group">
                                <label for="searchBrand">Бренд</label>
                                <select name="brand" id="searchBrand" class="form-control" title="Виберіть бренд" required>
                                        <option value="">-- Оберіть бренд --</option>
                                        <option th:each="brand : ${brand}" th:value="${brand.id_brand}">[[${brand.name_brand}]]</option>
                                </select>
                        </div>

                        <div class="form-group">
                                <label for="searchModel">Модель (для того щоб обрати, оберіть бренд)</label>
                                <select name="model" id="searchModel" class="form-control" title="Виберіть модель" required>
                                </select>
                        </div>

                        <div class="form-group">
                                <label for="searchProducer">Виробник</label>
                                <select name="producer" id="searchProducer" class="form-control" title="Виберіть виробника" required>
                                        <option value="">-- Оберіть виробника --</option>
                                        <option th:each="producer : ${producer}" th:value="${producer.id_producer}">[[${producer.name_producer}]]</option>
                                </select>
                        </div>

                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <button type="submit" style="width: 100%" class="btn btn-success">Зберегти товар</button>
                </form>
        </div>
        <br>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 100%"
           data-toggle="collapse" href="#collapseExample2" role="button"
           aria-expanded="true" aria-controls="collapseExample2">
                Перегляд інформації про додані товари
        </a>
        <div class="collapse mb-3" id="collapseExample2" style="">
                <form th:action="@{/addGood}">
                        <div class="form-row">
                                <div class="form-group col-md-10">
                                        <label for="search2"><b>Пошук товара:</b></label>
                                        <input type="text" name="title" th:value="${title}" class="form-control" placeholder="Пошук по назві товара" id="search2">
                                </div>
                                <div style="display: inline">
                                        <button style="width: 100%; margin: 0px 0px 5px 0px" type="submit" class="btn btn-dark">Пошук</button>
                                        <button style="width: 100%" class="btn btn-dark" onclick="clearFilter()">
                                                Очищення </button>
                                </div>
                        </div>
                </form>
                <hr>
                <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                                <th scope="col">Серійний номер</th>
                                <th scope="col">Назва товару</th>
                                <th scope="col">Ціна(грн.)</th>
                                <th scope="col">Ціна зі знижкою(грн.)</th>
                                <th scope="col">Категорія</th>
                                <th scope="col">Підкатегорія</th>
                                <th scope="col">Модель</th>
                                <th scope="col">Рік моделі</th>
                                <th scope="col">Виробник</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${goods}" th:if="${itemStat.index < 50}">
                                <td th:text="${item.number}" />
                                <td th:text="${item.title}" />
                                <td th:text="${item.price}" />
                                <td>
                                        <span th:if="${item.discount != null}" th:text="${item.discount}"></span>
                                        <span th:unless="${item.discount != null}" th:text="${item.price}"></span>
                                </td>
                                <td th:text="${item.category.category_group.name_category_group}" />
                                <td th:text="${item.category.name_category}" />
                                <td th:text="${item.model.name_model}" />
                                <td th:text="${item.model.year}" />
                                <td th:text="${item.producer.name_producer}" />
                        </tr>
                        </tbody>
                </table>
        </div>


        <h2 style="text-align: center; margin-top: 30px;">Перегляд, редагування та видалення даних з таблиць довідників</h2>
        <hr>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 25%" href="/showCategory">
                Категорії та підкатегорії
        </a>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 49%" href="/showBrandAndModel">
                Бренди та моделі
        </a>
        <a class="btn btn-dark mt-3 mb-3" style="text-align: center; width: 25%" href="/showProducer">
                Виробники
        </a>

</div>

<script>
function clearFilter(){
    window.location = '/';
    }
</script>

<script>
    var categorySelect = document.getElementById("searchCat");
    var subcategorySelect = document.getElementById("searchSubCat");

    categorySelect.addEventListener("change", function() {
        // Очищення попередніх опцій у другого вибірника
        subcategorySelect.innerHTML = "";

        // Отримання вибраної категорії у першому вибірнику
        var selectedCategory = categorySelect.value;

        // Виклик AJAX-запиту для отримання підкатегорій
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/getSubcategories?category=" + selectedCategory);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                var subcategories = JSON.parse(xhr.responseText);

                // Додавання нових опцій у другий вибірник
                subcategories.forEach(function(subcategory) {
                    var option = document.createElement("option");
                    option.value = subcategory.id_category;
                    option.textContent = subcategory.name_category;
                    subcategorySelect.appendChild(option);
                });
            }
        };
        xhr.send();
    });
</script>

<script>
    var brandSelect = document.getElementById("searchBrand");
    var modelSelect = document.getElementById("searchModel");

    brandSelect.addEventListener("change", function() {
        modelSelect.innerHTML = "";

        var selectedBrand = brandSelect.value;

        // Виклик AJAX-запиту для отримання моделей
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/getModels?model=" + selectedBrand);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                var models = JSON.parse(xhr.responseText);

                // Додавання нових опцій у другий вибірник
                models.forEach(function(model) {
                    var option = document.createElement("option");
                    option.value = model.id_model;
                    option.textContent = model.name_model;
                    modelSelect.appendChild(option);
                });
            }
        };
        xhr.send();
    });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>