<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>ADMIN panel</div>
<a href="/addCategory">Add new categories</a>
<a href="/addModel">Add new brand and model</a>
<a href="/addProducer">Add new producer</a>
<a href="/addGood">Add new good</a>
<form th:action="@{/addG}" method="post" enctype="multipart/form-data">
        <label for = "name">Good name</label>
        <input type="text" name="title" id="name">
        <label for = "number">Number name</label>
        <input type="number" name="number" id="number">
        <label for = "description">Description</label>
        <input type="text" name="description" id="description">
        <label for = "price">Price</label>
        <input type="number" name="price" id="price">
        <label for="customFile">Choose photo</label>
        <input type="file" name="file"  id="customFile">

        <select name="category"
                title="select category  .." multiple data-actions-box="true">

                <option th:each="category : ${category}" th:value="${category.id_category}">[[${category.name_category}]]</option>
        </select>


        <select name="model"
                title="select model  .." multiple data-actions-box="true">

                <option th:each="model : ${model}" th:value="${model.id_model}">[[${model.name_model}]]</option>
        </select>

        <select name="producer"
                title="select producer  .." multiple data-actions-box="true">

                <option th:each="producer : ${producer}" th:value="${producer.id_producer}">[[${producer.name_producer}]]</option>
        </select>

        <input type="submit" value="Save good">
</form>
</body>
</html>