<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>ADMIN panel</div>
<a href="/addProducer">Add new producer</a>
<form th:action="@{/addPr}" method="post">
  <label for = "name">Producer</label>
  <input type="text" name="name_producer" id="name">
  <label for = "country">country</label>
  <input type="text" name="country" id="country">
  <input type="submit" value="Save Producer">
</form>
</body>
</html>