<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>AVTOSENAT</title>
    <style>

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
        .nav-link{
        font-size:20px;
        color:white !important;
        }


        @media(max-width: 1199px){
        .carousel-item img{
        height:500px!important;
        }


        @media(max-width: 946px){
        .carousel-item img{
        height:400px!important;
        }
        .form-group{
        display: flex;
        gap: 20px;
        flex-direction: column;
        }
        .buttons button{
        width:100%!important;
        }

        .nav-link{
        font-size:15px;
        }

        .navbar-nav{
        gap:10px!important;
        }

        }

        @media(max-width: 768px){
        .search{
        display: flex!important;
        flex-direction:column;
        justify-content: center!important;
        align-items: center;
        }
        .search button{
        width:50%!important;
        }
        .logo{
        height:50px!important;
        width:100px!important;
        }

        }

        @media(max-width: 425px){
        .carousel-item img{
        height:250px!important;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md" style="display: flex; justify-content:space-between;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <img class="logo" style="height:100px; width:200px" src="/static/images/logo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="gap: 25px">
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/">
                        <span class="nav-link">Головна</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/about">
                        <span class="nav-link">Про нас</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/shop">
                        <span class="nav-link">Магазин</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/paymentAndDelivery">
                        <span class="nav-link">Доставка та оплата</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/contacts">
                        <span class="nav-link">Контакти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="42" height="42" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
            <button class="btn btn-light my-2 my-sm-0" type="button"
                    onclick="window.location.href = '/login'">
                Увійти
            </button>
        </span>
    </div>
</nav>

<div class="container mt-4" style="display: flex; flex-direction: column; align-items: center;">
    <h1 style="text-align: center">Зміна паролю користувача</h1>
    <hr style="width: 60%;">
    <p th:text="${message}" style="color: red;"></p>

    <form th:action="@{/changePassword}" method="post" style="width: 500px;">
        <p style="text-align: center; margin-bottom: 5px;"><b>Логін:</b> <br> <h5 style="color: green; text-align: center;" th:text="${user.login}"></h5></p>

        <input type="hidden" th:value="${user.login}" name="login" />
        <input type="hidden" th:value="${user.first_name}" name="first_name" />
        <input type="hidden" th:value="${user.last_name}" name="last_name" />
        <input type="hidden" th:value="${user.mail}" name="mail" />
        <input type="hidden" th:value="${user.middle_name}" name="middle_name" />
        <input type="hidden" th:value="${user.phone}" name="phone" />

        <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
            <p th:text="${password_userError}" style="color: red;"></p>
            <label style="text-align: center; margin-bottom: 0;"><b>Старий пароль:</b> <br>
                <input type="password" name="old_password_user" minlength="8" maxlength="20" id="password" style="margin-top: 5px;" required/>
                <button type="button" id="showPasswordBtn" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
            </label>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
            <p th:text="${password_userError}" style="color: red;"></p>
            <label style="text-align: center; margin-bottom: 0;"><b>Новий пароль: </b><br>
                <input type="password" name="password_user" minlength="8" maxlength="20" id="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль повинен містити принаймні одну цифру, одну малу літеру, одну велику літеру та бути не менше ніж 8 символів" style="margin-top: 5px;" required/>
                <button type="button" id="showPasswordBtn1" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
            </label>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
            <p th:text="${confirm_password_userError}" style="color: red;"></p>
            <label style="text-align: center; margin-bottom: 0;"><b>Підтвердження нового паролю: </b><br>
                <input type="password" name="confirm_password_user" minlength="8" maxlength="20" id="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль повинен містити принаймні одну цифру, одну малу літеру, одну велику літеру та бути не менше ніж 8 символів" style="margin-top: 5px;" required/>
                <button type="button" id="showPasswordBtn2" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
            </label>
        </div>
        <div class="error"></div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
            <button type="submit" style="width: 60%" class="btn btn-success">Змінити</button>
        </div>
    </form>
</div>


<script>
  const passwordField = document.getElementById("password");
  const showPasswordBtn = document.getElementById("showPasswordBtn");

  showPasswordBtn.addEventListener("click", function() {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField.type = "password";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });

  const passwordField1 = document.getElementById("password1");
  const showPasswordBtn1 = document.getElementById("showPasswordBtn1");

  showPasswordBtn1.addEventListener("click", function() {
    if (passwordField1.type === "password") {
      passwordField1.type = "text";
      showPasswordBtn1.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField1.type = "password";
      showPasswordBtn1.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });

  const passwordField2 = document.getElementById("password2");
  const showPasswordBtn2 = document.getElementById("showPasswordBtn2");
  showPasswordBtn2.addEventListener("click", function() {
    if (passwordField2.type === "password") {
      passwordField2.type = "text";
      showPasswordBtn2.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField2.type = "password";
      showPasswordBtn2.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<footer class="text-center text-lg-start bg-dark text-white">

    <!-- Section: Links  -->
    <section class="" >
        <div  class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="margin-top:25px">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        AVTOSENAT
                    </h6>
                    <p>
                        Інтернет-магазин автозапчастин, в наявності представлений асортимент як оригінальних так і ліцензійних запчастин.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Корисні посилання
                    </h6>
                    <p>
                        <a class="text-reset" href="/about">
                            Про нас
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/shop">
                            Магазин
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/paymentAndDelivery">
                            Доставка та оплата
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/contacts">
                            Контакти
                        </a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Графік роботи
                    </h6>
                    <p>
                        Пн-Сб: 9.00 - 18.30
                    </p>
                    <p>
                        Нд: 10.00 - 16.00
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Контакти</h6>
                    <p><i class="fas fa-home me-3"></i> м. Київ, авторинок "Жуляни" сектор А, 2 ряд, №47</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@avtosenat.com
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        avtosenat@ukr.net
                    </p>
                    <p><i class="fas fa-phone me-3"></i> (099)121-56-39</p>
                    <p><i class="fas fa-phone me-3"></i> (068)850-51-60</p>
                    <p><i class="fas fa-phone me-3"></i> (044)353-99-60</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023  Всі права захищені.
        <a class="text-reset fw-bold" href="/">AVTOSENAT</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>