<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/">
            <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
        </a>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
    </div>
</nav>

<div class="container mt-4" style="max-width: 900px; max-height: 850px;">
    <h1 style="text-align: center">Редагування замовлення</h1>
    <hr>

    <form th:action="@{/changeInfoOrder/{id_order}(id_order=${order.id_order})}" method="post">
        <h4 th:text="'ID замовлення: ' + ${order.id_order}"></h4>
        <h6 th:text="'Ім\'я замовника: ' + ${order.user.first_name}"></h6>
        <h6 th:text="'Призвіще: ' + ${order.user.last_name}"></h6>
        <h6 th:text="'Номер телефону: ' + ${order.user.phone}"></h6>

        <div class="form-group">
            <label> Метод замовлення:</label>
            <select id="orderMethodSelect" name="order_method" required>
                <option value="Самовивіз" th:selected="${order.order_method == 'Самовивіз'}">Самовивіз</option>
                <option value="Доставка" th:selected="${order.order_method == 'Доставка'}">Доставка</option>
            </select>
        </div>

        <div id="deliveryFields" style="display: none;">
            <div th:if="${order.city != null and order.city != ''}">
                <div class="form-group">
                    <label> Місто:
                        <input type="text" th:value="${order.city}" name="orderCity" readonly/>
                    </label>
                </div>
                <div class="form-group">
                    <label> Відділення Нової пошти:
                        <input type="text" th:value="${order.address}" name="orderAddress" readonly/>
                    </label>
                </div>
            </div>
            <div th:unless="${order.city == null and order.city == ''}">
                <input type="hidden" th:value="${order.city}" name="orderCity" readonly/>
                <input type="hidden" th:value="${order.address}" name="orderAddress" readonly/>
            </div>

            <i>Щоб змінити місто або відділення нової пошти для доставки оберіть дані зі списків, що нижче:</i>

            <div class="form-group">
                <label> Місто:
                    <select style="width: 225px;" id="cities" name="cities">
                        <option value=""></option>
                    </select>
                    <input type="hidden" name="city" th:value="${order.city}">
                </label>
            </div>
            <div class="form-group">
                <label> Відділення Нової пошти:
                    <select style="width: 225px;" id="warehouses" name="warehouses">
                        <option value=""></option>
                    </select>
                    <input type="hidden" name="address" th:value="${order.address}">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Статус замовлення:</label>
            <select name="order_status" required>
                <option th:each="status : ${orderStatusList}"
                        th:value="${status}"
                        th:selected="${status == order.order_status}">
                    <span th:text="${status}"></span>
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Статус оплати:</label>
            <select name="payment_status">
                <option value="false" th:selected="${!order.payment_status}">Не оплачено</option>
                <option value="true" th:selected="${order.payment_status}">Оплачено</option>
            </select>
        </div>

        <input type="hidden" name="_method" value="put">
        <button type="submit" style="width: 100%; margin-bottom: 20px;" class="btn btn-dark">Змінити</button>
    </form>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var orderMethodSelect = document.getElementById('orderMethodSelect');
        var deliveryFields = document.getElementById('deliveryFields');
        var addressInput = document.querySelector('input[name="orderAddress"]');
        var cityInput = document.querySelector('input[name="orderCity"]');
        var savedCity = cityInput.value;
        var savedAddress = addressInput.value;

        var addressMain = document.querySelector('select[name="warehouses"]');
        var cityMain = document.querySelector('select[name="cities"]');
        var savedCityMain = cityMain.value;
        var savedAddressMain = addressMain.value;

        orderMethodSelect.addEventListener('change', function () {
            if (orderMethodSelect.value === 'Доставка') {
                deliveryFields.style.display = 'block';
                addressInput.required = true;
                cityInput.required = true;
                addressInput.value = savedAddress;
                cityInput.value = savedCity;

                addressMain.required = true;
                cityMain.required = true;
                addressMain.value = savedAddressMain;
                cityMain.value = savedCityMain;
            } else {
                deliveryFields.style.display = 'none';
                addressInput.required = false;
                cityInput.required = false;
                addressInput.value = '';
                cityInput.value = '';

                addressMain.required = false;
                cityMain.required = false;
                addressMain.value = '';
                cityMain.value = '';
            }
        });

        if (orderMethodSelect.value === 'Доставка') {
            deliveryFields.style.display = 'block';
            addressInput.required = true;
            cityInput.required = true;
        }
    });
</script>


</div>

<script>
		$(document).ready(function() {
			// Завантаження списку міст
			$.ajax({
				url: "https://api.novaposhta.ua/v2.0/json/Address/getCities",
				type: "POST",
				dataType: "json",
				data: JSON.stringify({
					"apiKey": "184df33498070cf9e047e87087a8424d",
					"modelName": "Address",
					"calledMethod": "getCities",
					"methodProperties": {}
				}),
				success: function(data) {
					// Заповнення випадаючого списку міст
					var cities = data.data;
					var citiesSelect = $("#cities");

					$.each(cities, function(index, city) {
						citiesSelect.append($('<option></option>').attr('value', city.Ref).text(city.Description));
					});

					// Обробник події зміни вибраного міста
					citiesSelect.change(function() {
						var selectedCityRef = $(this).val();

						// Завантаження відділень для вибраного міста
						$.ajax({
							url: "https://api.novaposhta.ua/v2.0/json/Address/getWarehouses",
							type: "POST",
							dataType: "json",
							data: JSON.stringify({
								"apiKey": "184df33498070cf9e047e87087a8424d",
								"modelName": "Address",
								"calledMethod": "getWarehouses",
								"methodProperties": {
									"CityRef": selectedCityRef
								}
							}),
							success: function(data) {
								// Заповнення випадаючого списку відділень
								var warehouses = data.data;
								var warehousesSelect = $("#warehouses");

								warehousesSelect.empty(); // Очистка випадаючого списку

								$.each(warehouses, function(index, warehouse) {
									warehousesSelect.append($('<option></option>').attr('value', warehouse.Ref).text(warehouse.Description));
								});
							},
							error: function(error) {
								console.log(error);
							}
						});
					});
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
</script>

<script>
    // Обробник події відправки форми
    $('form').submit(function(event) {
        // Отримання значень полів
        var selectedCity = $('#cities option:selected').text();
        var selectedWarehouse = $('#warehouses option:selected').text();

        // Перевірка, чи значення $('#cities option:selected') не є пустим рядком
        if (selectedCity.trim() !== '') {
            // Встановлення значень полів у приховані поля форми
            $('input[name="city"]').val(selectedCity);
            $('input[name="address"]').val(selectedWarehouse);
        }
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>