<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/">
            <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
        </a>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
    </div>
</nav>

<div class="container mt-4">
    <h1 style="text-align: center">Авторизація</h1>
    <hr>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:unless="${errorMessage}">
        <p th:if="${loginError}" class="error" style="color: red" >Неправильний логін або пароль</p>
    </div>
    <p th:text= "${message}" style="color: red"/>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label> Логін: <input type="text" name="username" required/> </label>
        </div>
        <div class="form-group">
            <label> Пароль: <input type="password" name="password" id="password" required/> </label>
            <button type="button" id="showPasswordBtn" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit" style="width: 100%" class="btn btn-dark">Увійти</button>
    </form>
    <hr>
    <h2><a href="/forgotPassword">Забули пароль?</a></h2>
    <h2>Немає акаунту AVTO SENAT? <a href="/registration">Зареєструйся!</a></h2>
</div>

<script>
  const passwordField = document.getElementById("password");
  const showPasswordBtn = document.getElementById("showPasswordBtn");

  showPasswordBtn.addEventListener("click", function() {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField.type = "password";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>