<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">

    <title>AVTO SENAT</title>
    <style>
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md" style="display: flex; justify-content:space-between;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/">
                        <span class="nav-link">Головна</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="#">
                        <span class="nav-link">Про нас</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/shop">
                        <span class="nav-link">Магазин</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="#">
                        <span class="nav-link">Доставка та оплата</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="#">
                        <span class="nav-link">Контакти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
            <button class="btn btn-light my-2 my-sm-0" type="button"
                    onclick="window.location.href = '/login'">
                Увійти
            </button>
        </span>
    </div>
</nav>

<div class="container mt-4">
    <div>
        <h4 style="text-align: center">Пошук товарів</h4>
        <form th:action="@{/shop}" method="get" th:attr="data-product-count=${#lists.size(goods)}">
            <div style="display: flex; gap: 25px;">
                <input type="text" name="title" th:value="${title}" class="form-control" placeholder="Пошук по назві товару" id="search">
                <button style="width: 15%; margin: 0px 0px 5px 0px" type="submit" class="btn btn-dark">Пошук</button>
            </div>
        </form><hr>
    </div>

    <div>
        <form th:action="@{/filter}" method="post">
    <div class="form-group">
        <label for="searchBrand">Бренд</label>
        <select name="brand" id="searchBrand" class="form-control" title="Виберіть бренд" required>
            <option value="">-- Оберіть бренд --</option>
            <option th:each="brand : ${brand}" th:value="${brand.id_brand}">[[${brand.name_brand}]]</option>
        </select>
    </div>

    <div class="form-group">
        <label for="searchModel">Модель (для того щоб обрати, оберіть бренд)</label>
        <select name="model" id="searchModel" class="form-control" title="Виберіть модель" required>
            <option value="">-- Оберіть модель --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="searchCat">Категорія</label>
        <select name="categoryGroup" id="searchCat" class="form-control" title="Виберіть категорію" >
            <option value="">-- Оберіть категорію --</option>
            <option th:each="categoryGroup : ${categoryGroup}" th:value="${categoryGroup.id_category_group}">
                [[${categoryGroup.name_category_group}]]
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="searchSubCat">Підкатегорія (для того щоб обрати, оберіть категорію)</label>
        <select name="category" id="searchSubCat" class="form-control" title="Виберіть підкатегорію" >
            <option value="">-- Оберіть підкатегорію --</option>
        </select>
    </div>


    <div>
        <button style="width: 15%; margin: 0px 0px 5px 0px" type="submit" class="btn btn-dark">Пошук по фільтру</button>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    </form>
    <button style="width: 15%; margin: 0px 0px 5px 0px" onclick="clearFilter()" class="btn btn-dark">Очистити фільтр</button>
    </div>
</div>

<script type="text/javascript">
    function clearFilter(){
    window.location = '/';
    }
</script>

<script>
    var brandSelect = document.getElementById("searchBrand");
    var modelSelect = document.getElementById("searchModel");

    brandSelect.addEventListener("change", function() {
        modelSelect.innerHTML = "";

        var selectedBrand = brandSelect.value;

        // Виклик AJAX-запиту для отримання моделей
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/getModel?model=" + selectedBrand);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                var models = JSON.parse(xhr.responseText);

                // Додавання нових опцій у другий вибірник
                models.forEach(function(model) {
                    var option = document.createElement("option");
                    option.value = model.id_model;
                    option.textContent = model.name_model + ' (' + model.year + ' р.)';
                    modelSelect.appendChild(option);
                });
            }
        };
        xhr.send();
    });
</script>


<script>
    var categorySelect = document.getElementById("searchCat");
    var subcategorySelect = document.getElementById("searchSubCat");

    categorySelect.addEventListener("change", function() {
        // Очищення попередніх опцій у другого вибірника
        subcategorySelect.innerHTML = "";

        // Отримання вибраної категорії у першому вибірнику
        var selectedCategory = categorySelect.value;

        // Виклик AJAX-запиту для отримання підкатегорій
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/getSubcategory?category=" + selectedCategory);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                var subcategories = JSON.parse(xhr.responseText);

                // Додавання нових опцій у другий вибірник
                subcategories.forEach(function(subcategory) {
                    var option = document.createElement("option");
                    option.value = subcategory.id_category;
                    option.textContent = subcategory.name_category;
                    subcategorySelect.appendChild(option);
                });
            }
        };
        xhr.send();
    });
</script>



<script>
    $(document).ready(function () {
        $('.navbar-toggler').on('click', function () {
            $('.navbar-collapse').toggleClass('show');
        });
    });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>


</body>
</html>