<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<div>Hello, user</div>
    <div th:if="${user.login}">
        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <span th:unless="${user.login}">
    <a href="/login">Sign in</a></span> <br>
    <div>
        <form th:action="@{/}" method="get">
            Пошук по назві товару:<input type="text" name="name"><br>
            <input type="submit" value="Пошук">
        </form>
    </div>

<div th:if="!${#lists.isEmpty(goods)}">
    <table>
        <tr th:each="item : ${goods}">
            <td th:text="${item.title}" />
            <td th:text="${item.price}" />
           <td>грн. | <a th:href="@{/main/{idGood}(idGood=${item.id_good})}">Докладніше...</a></td>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(goods)}">
    Товарів немає
</div>


    <span th:if="${user.login}"><a th:href="@{/user}">User list</a></span>
    <span><a th:href="@{/addGood}">Add good</a></span>
   <!-- <span><a th:href="@{/shop}">Shop</a></span>-->
</body>
</html>