<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous">

  <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/">
      <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
    </a>
    <div th:if="${user.login}">
      <div class="dropdown text-end">
        <a href="/cart" class="link1">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          </svg>
        </a>
        <a href="/profile">
          <img src="/static/images/1.png" alt="mdo"
               width="32" height="32" class="rounded-circle">
        </a>
      </div>
    </div>
    <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
  </div>
</nav>

<div class="container mt-4">
  <h1 style="text-align: center">Мої замовлення</h1>
  <hr>

  <style>
    @media(max-width: 991px){
    .divFlex{
    justify-content: center;
    flex-direction: column;
    }

    .mybbtn{
     margin-top: 15px;
    }
    }
  </style>

  <div class="divFlex" style="display: flex; justify-content: space-between; align-items: center; max-width: 960px; margin: 0 auto;">
    <form th:action="@{/myOrders}" method="get" style="flex-basis: 45%;">
      <div class="search" style="max-width: 380px;">
        <h5>Пошук по діапазону дати замовлення:</h5>
        <div class="form-group">
          <label for="startDate">Початкова дата:</label>
          <input type="date" class="form-control" id="startDate" name="startDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
        </div>
        <div class="form-group">
          <label for="endDate">Кінцева дата:</label>
          <input type="date" class="form-control" id="endDate" name="endDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
        </div>
        <div style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-primary" style="width: 100px;">Пошук</button>
        </div>
      </div>
    </form>

    <form th:action="@{/myOrders}" method="get" style="flex-basis: 45%;">
      <div class="search" style="max-width: 380px;">
        <h5>Пошук по статусу замовлення:</h5>
        <div class="form-group">
          <select name="status" class="form-control">
            <option value="">--Оберіть--</option>
            <option value="Очікується">Очікується</option>
            <option value="Виконується">Виконується</option>
            <option value="Відправлено">Відправлено</option>
            <option value="Доставлено">Доставлено</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-primary" style="width: 100px;">Пошук</button>
        </div>
      </div>
    </form>

    <div style="flex-basis: 10%;">
      <button class="btn btn-dark mybbtn" onclick="clearFilter()">Очищення </button>
    </div>
  </div>
  <hr>

  <div class="table-responsive">
      <table class="table table-hover table-dark">
        <thead>
        <tr>
          <th scope="col">ID замовлення</th>
          <th scope="col">Метод замовлення</th>
          <th scope="col">Місто</th>
          <th scope="col">Відділення Нової пошти</th>
          <th scope="col">Дата замовлення</th>
          <th scope="col">Статус замовлення</th>
          <th scope="col">Метод оплати</th>
          <th scope="col">Статус оплати</th>
          <th scope="col">Загальна ціна(грн.)</th>

          <th scope="col">Артикул товара</th>
          <th scope="col">Кількість товара</th>

          <th scope="col">Ім'я замовника</th>
          <th scope="col">Призвіще</th>
          <th scope="col">Номер телефону</th>
          <th scope="col">Електронна пошта</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orders}">
          <td th:text="${item.id_order}" />
          <td th:text="${item.order_method}" />
          <td th:text="${item.city}" />
          <td th:text="${item.address}"/>
          <td th:text="${item.order_date}"/>
          <td th:text="${item.order_status}" />
          <td th:text="${item.payment_method}"/>
          <td>
            <span th:if="${item.payment_status} == true">Оплачено</span>
            <span th:if="${item.payment_status} == false">Не оплачено</span>
          </td>
          <td th:text="${item.total_price}"/>
          <td>
            <table>
              <tr th:each="item2 : ${item.orderItems}">
                <td th:text="${item2.good.number}" />
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr th:each="item2 : ${item.orderItems}">
                <td th:text="${item2.quantity}" />
              </tr>
            </table>
          </td>
          <td th:text="${item.first_name}" />
          <td th:text="${item.last_name}"/>
          <td th:text="${item.phone}" />
          <td th:text="${item.mail}"/>
        </tr>
        </tbody>
      </table>
  </div>
</div>

<script>
function clearFilter(){
    window.location = '/myOrders';
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>