<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AVTOSENAT</title>
    <style>

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
        .nav-link{
        font-size:20px;
        color:white !important;
        }


        @media(max-width: 1199px){
        .carousel-item img{
        height:500px!important;
        }


        @media(max-width: 946px){
        .carousel-item img{
        height:400px!important;
        }
        .form-group{
        display: flex;
        gap: 20px;
        flex-direction: column;
        }
        .buttons button{
        width:100%!important;
        }

        .nav-link{
        font-size:15px;
        }

        .navbar-nav{
        gap:10px!important;
        }

        }

        @media(max-width: 768px){
        .search{
        display: flex!important;
        flex-direction:column;
        justify-content: center!important;
        align-items: center;
        }
        .search button{
        width:50%!important;
        }
        .logo{
        height:50px!important;
        width:100px!important;
        }

        }

        @media(max-width: 425px){
        .carousel-item img{
        height:250px!important;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md" style="display: flex; justify-content:space-between;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <img class="logo" style="height:100px; width:200px" src="/static/images/logo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="gap: 25px">
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/">
                        <span class="nav-link">Головна</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/about">
                        <span class="nav-link">Про нас</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/shop">
                        <span class="nav-link">Магазин</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/paymentAndDelivery">
                        <span class="nav-link">Доставка та оплата</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/contacts">
                        <span class="nav-link">Контакти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="42" height="42" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
            <button class="btn btn-light my-2 my-sm-0" type="button"
                    onclick="window.location.href = '/login'">
                Увійти
            </button>
        </span>
    </div>
</nav>

<h1 style="text-align: center;">Оформлення замовлення</h1>

<form method="post" th:action="@{/order}" onsubmit="return validateForm();">
<div style="display: flex; justify-content:space-evenly; align-items: flex-start; margin: 50px;
			padding: 20px;" >

    <div>
        <h2 >Персональна інформація</h2>
        <div style="display:flex; flex-direction: column; padding-left: 50px; padding-top: 10px;">
        <label for="first_name">Ім'я:</label>
        <input style="max-width: 225px;" type="text" id="first_name" name="first_name" th:value="${user.first_name}" required>
        <label for="last_name">Призвіще:</label>
        <input style="max-width: 225px;" type="text" id="last_name" name="last_name" th:value="${user.last_name}" required>
        <label for="mail">Поштова скринька:</label>
        <input style="max-width: 225px;" type="email" id="mail" name="mail" th:value="${user.mail}" required>
        <label for="phone">Номер телефону:</label>
        <input style="max-width: 225px;" type="tel" id="phone" name="phone" th:value="${user.phone}" required>
        </div>

        <h2 style="padding-top: 25px;">Інформація про доставку</h2>
        <div style="padding-top: 10px; padding-left: 50px;">
            <input type="radio" id="selfPickup" name="order_method" value="Самовивіз">
            <label for="selfPickup">Самовивіз із магазину</label><br>
            <input type="radio" id="delivery" name="order_method" value="Доставка">
            <label for="delivery">Доставка Новою Поштою</label><br>
        </div>

        <div id="delivery_info" style="display:none; flex-direction: column; padding-left: 25px; padding-top: 10px;">
            <label for="cities">Місто:</label>
            <select style="max-width: 225px;"  id="cities" name="cities"> <option value="">
            </option></select>
            <input type="hidden" name="city" value="">

            <label for="warehouses">Відділення Нової пошти:</label>
            <select style="max-width: 225px;" id="warehouses" name="warehouses"></select>
            <input type="hidden" name="address" value="">
        </div>

        <script>
		$(document).ready(function() {
			// Завантаження списку міст
			$.ajax({
				url: "https://api.novaposhta.ua/v2.0/json/Address/getCities",
				type: "POST",
				dataType: "json",
				data: JSON.stringify({
					"apiKey": "184df33498070cf9e047e87087a8424d",
					"modelName": "Address",
					"calledMethod": "getCities",
					"methodProperties": {}
				}),
				success: function(data) {
					// Заповнення випадаючого списку міст
					var cities = data.data;
					var citiesSelect = $("#cities");

					$.each(cities, function(index, city) {
						citiesSelect.append($('<option></option>').attr('value', city.Ref).text(city.Description));
					});

					// Обробник події зміни вибраного міста
					citiesSelect.change(function() {
						var selectedCityRef = $(this).val();

						// Завантаження відділень для вибраного міста
						$.ajax({
							url: "https://api.novaposhta.ua/v2.0/json/Address/getWarehouses",
							type: "POST",
							dataType: "json",
							data: JSON.stringify({
								"apiKey": "184df33498070cf9e047e87087a8424d",
								"modelName": "Address",
								"calledMethod": "getWarehouses",
								"methodProperties": {
									"CityRef": selectedCityRef
								}
							}),
							success: function(data) {
								// Заповнення випадаючого списку відділень
								var warehouses = data.data;
								var warehousesSelect = $("#warehouses");

								warehousesSelect.empty(); // Очистка випадаючого списку

								$.each(warehouses, function(index, warehouse) {
									warehousesSelect.append($('<option></option>').attr('value', warehouse.Ref).text(warehouse.Description));
								});
							},
							error: function(error) {
								console.log(error);
							}
						});
					});
				},
				error: function(error) {
					console.log(error);
				}
			});
		});
</script>

        <script>
    var cardRadio3 = document.getElementById("delivery");
    var cardRadio4 = document.getElementById("selfPickup");
    var cardInfoDiv2 = document.getElementById("delivery_info");
    var city = document.getElementById("cities");
    var address = document.getElementById("warehouses");

    cardRadio3.addEventListener("change", function() {
        if (cardRadio3.checked) {
            cardInfoDiv2.style.display = "flex";
            city.required = true;
            address.required = true;
        } else {
            cardInfoDiv2.style.display = "none";
            city.required = false;
            address.required = false;
        }
    });

    cardRadio4.addEventListener("change", function() {
        if (cardRadio4.checked) {
            cardInfoDiv2.style.display = "none";
            city.required = false;
            address.required = false;
        } else {
            cardInfoDiv2.style.display = "flex";
            city.required = true;
            address.required = true;
        }
    });

    function validateOrderForm() {
        var radioChecked = cardRadio3.checked || cardRadio4.checked;
        if (!radioChecked) {
            alert("Будь ласка, виберіть метод замовлення.");
            return false;
        }
        return true;
    }

    function validateForm() {
        var formValid = validatePaymentMethod() && validateOrderForm();
        if (!formValid) {
            return false;
        }
        return true;
    }
</script>


        <h2 style="padding-top: 25px;">Метод оплати</h2>
        <div style="padding-top: 10px; padding-left: 50px;">
        <input type="radio" id="payment_cash" name="payment_method" value="Готівка">
        <label for="payment_cash">Оплата готівкою</label><br>
        <input type="radio" id="payment_card" name="payment_method" value="Кредитна карта">
        <label for="payment_card">Оплата карткою</label><br>
        </div>

        <div id="card_info" style="display:none; flex-direction: column; padding-left: 25px; padding-top: 10px;">
        <label for="cardNumber">Номер карти:</label>
        <input style="max-width: 225px;" type="text" id="cardNumber" name="cardNumber" >
        <label for="cardExpiration">Рік/дата дії карти:</label>
        <input style="max-width: 225px;" type="text" id="cardExpiration" name="cardExpiration" >
        <label for="cardCVV">Код CVV:</label>
        <input style="max-width: 225px;" type="text" id="cardCVV" name="cardCVV" >
        </div>
    </div>
<div>
        <h2>Інформація про замовлення</h2>
    <table class="table table-bordered m-0">
        <tbody>
        <tr th:each="item : ${shoppingCart.items}">
            <td class="p-4">
                <div class="media align-items-center">
                    <table>
                        <tr>
                            <img th:src="@{/images/{imageId}(imageId=${item.good.previewImageId})}" class="d-block ui-w-40 ui-bordered mr-4 photo" style="object-fit: fill;">
                        </tr>
                    </table>
                    <div class="media-body" style="padding-left:10px;">
                        <b><a th:href="@{/main/{idGood}(idGood=${item.good.id_good})}" class="d-block text-dark" th:text="${item.good.title}" style="font-size:18px;"/></b><br>
                        <small>
                            <span th:text="${item.good.model.brand.name_brand}"/>
                            <span th:text="${item.good.model.name_model}"/>
                            <span th:text="${item.good.model.year} + ' р.'"/> <br>
                            Серійний номер: <span class="text-muted" th:text="${item.good.number}"/> <br>
                            Категорія: <span class="text-muted" th:text="${item.good.category.name_category}"/> <br>
                        </small>
                    </div>
                </div>
            </td>
            <th:block th:if="${item.good.discount}">
                <td class="text-center font-weight-semibold align-middle p-4" th:text="${item.good.discount} + ' грн.'"/>
            </th:block>
            <th:block th:unless="${item.good.discount}">
                <td class="text-center font-weight-semibold align-middle p-4" th:text="${item.good.price} + ' грн.'"/>
            </th:block>
            <td class="text-center font-weight-semibold align-middle p-4" th:text="${item.count} + ' шт.'"/>
            <th:block th:if="${item.good.discount}">
                <td class="text-center font-weight-semibold align-middle p-4" th:text="${item.good.discount}*${item.count} + ' грн.'"/>
            </th:block>
            <th:block th:unless="${item.good.discount}">
                <td class="text-center font-weight-semibold align-middle p-4" th:text="${item.good.price}*${item.count} + ' грн.'"/>
            </th:block>
        </tr>

        </tbody>
    </table>

    <div class="text-right mt-4">
        <label class="font-weight-bold m-0" style="font-size:18px;">Загальна сума замовлення: </label>
        <div class="text-large"><i style="font-size: 20px;" th:text="${shoppingCart.totalPrice} + ' грн.'"/> </div>
        <input style="margin-top: 10px;" type="submit" class="btn btn-success" value="Підтвердити замовлення">
    </div>



</div>

</div>

</form>



<script>
    var cardRadio = document.getElementById("payment_card");
    var cardRadio2 = document.getElementById("payment_cash");
    var cardInfoDiv = document.getElementById("card_info");
    var cardNumber = document.getElementById("cardNumber");
    var cardExpiration = document.getElementById("cardExpiration");
    var cardCVV = document.getElementById("cardCVV");

    cardRadio.addEventListener("change", function() {
        if (cardRadio.checked) {
            cardInfoDiv.style.display = "flex";
            cardNumber.required = true;
            cardExpiration.required = true;
            cardCVV.required = true;
        } else {
            cardInfoDiv.style.display = "none";
            cardNumber.required = false;
            cardExpiration.required = false;
            cardCVV.required = false;
        }
    });

    cardRadio2.addEventListener("change", function() {
        if (cardRadio2.checked) {
            cardInfoDiv.style.display = "none";
            cardNumber.required = false;
            cardExpiration.required = false;
            cardCVV.required = false;
        } else {
            cardInfoDiv.style.display = "flex";
            cardNumber.required = true;
            cardExpiration.required = true;
            cardCVV.required = true;
        }
    });

    function validatePaymentMethod() {
        var radioChecked = cardRadio.checked || cardRadio2.checked;
        if (!radioChecked) {
            alert("Будь ласка, виберіть метод оплати.");
            return false;
        }
        return true;
    }
</script>

<script>
    // Обробник події відправки форми
    $('form').submit(function(event) {
        // Отримання значень полів
        var selectedCity = $('#cities option:selected').text();
        var selectedWarehouse = $('#warehouses option:selected').text();

        // Встановлення значень полів у приховані поля форми
        $('input[name="city"]').val(selectedCity);
        $('input[name="address"]').val(selectedWarehouse);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<footer class="text-center text-lg-start bg-dark text-white">

    <!-- Section: Links  -->
    <section class="" >
        <div  class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="margin-top:25px">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        AVTOSENAT
                    </h6>
                    <p>
                        Інтернет-магазин автозапчастин, в наявності представлений асортимент як оригінальних так і ліцензійних запчастин.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Корисні посилання
                    </h6>
                    <p>
                        <a class="text-reset" href="/about">
                            Про нас
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/shop">
                            Магазин
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/paymentAndDelivery">
                            Доставка та оплата
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/contacts">
                            Контакти
                        </a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Графік роботи
                    </h6>
                    <p>
                        Пн-Сб: 9.00 - 18.30
                    </p>
                    <p>
                        Нд: 10.00 - 16.00
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Контакти</h6>
                    <p><i class="fas fa-home me-3"></i> м. Київ, авторинок "Жуляни" сектор А, 2 ряд, №47</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@avtosenat.com
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        avtosenat@ukr.net
                    </p>
                    <p><i class="fas fa-phone me-3"></i> (099)121-56-39</p>
                    <p><i class="fas fa-phone me-3"></i> (068)850-51-60</p>
                    <p><i class="fas fa-phone me-3"></i> (044)353-99-60</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023  Всі права захищені.
        <a class="text-reset fw-bold" href="/">AVTOSENAT</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>