<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <title>AVTOSENAT</title>
    <style>

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
        .nav-link{
        font-size:20px;
        color:white !important;
        }


        @media(max-width: 1199px){
        .carousel-item img{
        height:500px!important;
        }


        @media(max-width: 946px){
        .carousel-item img{
        height:400px!important;
        }
        .form-group{
        display: flex;
        gap: 20px;
        flex-direction: column;
        }
        .buttons button{
        width:100%!important;
        }

        .nav-link{
        font-size:15px;
        }

        .navbar-nav{
        gap:10px!important;
        }

        }

        @media(max-width: 768px){
        .search{
        display: flex!important;
        flex-direction:column;
        justify-content: center!important;
        align-items: center;
        }
        .search button{
        width:50%!important;
        }
        .logo{
        height:50px!important;
        width:100px!important;
        }

        }

        @media(max-width: 425px){
        .carousel-item img{
        height:250px!important;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-md" style="display: flex; justify-content:space-between;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/">
            <img class="logo" style="height:100px; width:200px" src="/static/images/logo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="gap: 25px">
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/">
                        <span class="nav-link">Головна</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/about">
                        <span class="nav-link">Про нас</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/shop">
                        <span class="nav-link">Магазин</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/paymentAndDelivery">
                        <span class="nav-link">Доставка та оплата</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration:none;" href="/contacts">
                        <span class="nav-link">Контакти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="42" height="42" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
            <button class="btn btn-light my-2 my-sm-0" type="button"
                    onclick="window.location.href = '/login'">
                Увійти
            </button>
        </span>
    </div>
</nav>

<style>

    @media(max-width:768px){
    .info{
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
    }
    }
    @media(max-width:425px){
    .garage{
        flex-direction: column;
    }
    .list-group-item{
    flex-direction: column;
    }
    .links span{
    width:50%!important;
    }
    .exit button{
    width:50%!important;
    }
    }

    @media(max-width:375px){

    .links span{
    width:80%!important;
    }
    .exit button{
    width:80%!important;
    }
    }
</style>

<div class="container mt-4">
    <h1 style="text-align: center">Особистий кабінет</h1> <hr> <br>

    <div th:if="${changeInfoMessage != null}">
        <div class="alert alert-success" role="alert">
            <p th:text="${changeInfoMessage}"></p>
        </div>
    </div>

    <div th:if="${message != null}">
        <div class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
    </div>

    <div th:if="${messageError != null}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${messageError}"></p>
        </div>
    </div>

    <div>
        <div class="above-info-img" style="text-align: center;">
        <img src="/static/images/1.png"
             style="border:2px solid black; border-radius: 20px" height="120">
            <h2 th:text="${user.login}"></h2>
        </div>

        <div th:if="${user.isAdmin()}">
        <p>Рівень доступу: <b th:text="${user.roles}" /> </p>
        </div>

        <div class="info" style="display:flex; justify-content: space-evenly; align-items:center; margin-top:35px;" th:unless="${user.isAdmin()}">
            <div><p>Ім'я: <b th:text="${user.first_name}" /> </p>
                <p>Прізвище: <b th:text="${user.last_name}" /></p>
                <p>По батькові: <b th:text="${user.middle_name}" /> </p></div>
        <div><p>Поштова скринька: <b th:text="${user.mail}" /> </p>
            <p>Номер телефону: <b th:text="${user.phone}" /> </p></div>
        </div>

        <div class="links" style="display: flex; flex-direction: column; align-items: center; margin: 25px 0; gap: 10px" th:unless="${user.isAdmin()}">
  <span style="width: 40%;">
    <a th:href="@{/changeInfo}" class="btn btn-success d-flex justify-content-center" style="width: 100%">Змінити персональну інформацію</a>
  </span>
            <span style="width: 40%;">
    <a th:href="@{/changeMail}" class="btn btn-success d-flex justify-content-center" style="width: 100%">Змінити поштову скриньку</a>
  </span>
            <span style="width: 40%;">
    <a th:href="@{/changePassword}" class="btn btn-success d-flex justify-content-center" style="width: 100%">Змінити пароль</a>
  </span>
            <span style="width: 40%;">
    <a th:href="@{/myOrders}" class="btn btn-primary d-flex justify-content-center" style="width: 100%">Мої замовлення</a>
  </span>
        </div>



        <br>
        <hr>
        <div th:unless="${user.isAdmin()}">
            <div class="garage" style="display: flex; justify-content: space-between;">
                <h2 class="text-left">Мій гараж <i class="fa fa-car" style="font-size:35px;"></i></h2>
                <span>
            <a th:href="@{/addCar}" style="text-align: center; width: 100%; font-size:25px; text-decoration:none;">Добавити авто до гаражу</a>
        </span>
            </div>

            <div style="align-text: center; margin: 40px 0;" th:if="${cars.empty}">
                <h4>Гараж порожній. Добавте авто до гаражу.</h4>
                <hr>
            </div>

            <div th:if="${not cars.empty}" style="margin-bottom:25px">
                <ul class="list-group" style="display: row; align-items: center;">
                    <li th:each="car : ${cars}" class="list-group-item" style="width:100%;display: flex; justify-content: space-around;">
                        <div style="display: flex; text-align: left; justify-content: center;" >
                            <div>
                                <p><strong>VIN:</strong> <span th:text="${car.vin}"></span></p>
                                <p><strong>Бренд:</strong> <span th:text="${car.model.brand.name_brand}"></span></p>
                                <p><strong>Модель:</strong> <span th:text="${car.model.name_model}"></span></p>
                                <p><strong>Рік моделі:</strong> <span th:text="${car.model.year}"></span></p>
                            </div>
                        </div>

                        <div style="margin-top: 20px; display:grid;">
                            <a th:href="@{/searchParts/{carId}(carId=${car.idCar})}" style="text-align: center; font-size: 20px; text-decoration: none;">Пошук автозапчастин по даному авто</a>
                            <a th:href="@{/deleteCar/{carId}(carId=${car.idCar})}" onclick="return confirmSpell();" style="text-align: center; font-size: 20px; text-decoration: none; color:red;">Видалити авто <i class="fas fa-trash-alt"></i> </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script>
            function confirmSpell() {
                if (confirm("Ви впевнені, що хочете видалити авто із гаражу?")) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>

        <div th:if="${user.login}">
            <div th:if="${user.isAdmin()}">
                <span><a th:href="@{/user}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування користувачів</a></span>
                <span><a th:href="@{/addGood}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування товару</a></span>
                <span><a th:href="@{/orderList}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування замовлення</a></span>
            </div>
        </div>


        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <div class="exit" style="display:flex; justify-content: center; text-align:center; margin-bottom: 25px">
            <button type="submit" style="text-align: center; width: 30%;" class="btn btn-danger mb-2">
                Вийти з акаунту <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:5px" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            </button>
            </div>
        </form>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<footer class="text-center text-lg-start bg-dark text-white">

    <!-- Section: Links  -->
    <section class="" >
        <div  class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="margin-top:25px">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        AVTOSENAT
                    </h6>
                    <p>
                        Інтернет-магазин автозапчастин, в наявності представлений асортимент як оригінальних так і ліцензійних запчастин.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Корисні посилання
                    </h6>
                    <p>
                        <a class="text-reset" href="/about">
                            Про нас
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/shop">
                            Магазин
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/paymentAndDelivery">
                            Доставка та оплата
                        </a>
                    </p>
                    <p>
                        <a class="text-reset" href="/contacts">
                            Контакти
                        </a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Графік роботи
                    </h6>
                    <p>
                        Пн-Сб: 9.00 - 18.30
                    </p>
                    <p>
                        Нд: 10.00 - 16.00
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="margin-top:25px">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Контакти</h6>
                    <p><i class="fas fa-home me-3"></i> м. Київ, авторинок "Жуляни" сектор А, 2 ряд, №47</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@avtosenat.com
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        avtosenat@ukr.net
                    </p>
                    <p><i class="fas fa-phone me-3"></i> (099)121-56-39</p>
                    <p><i class="fas fa-phone me-3"></i> (068)850-51-60</p>
                    <p><i class="fas fa-phone me-3"></i> (044)353-99-60</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023  Всі права захищені.
        <a class="text-reset fw-bold" href="/">AVTOSENAT</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>