<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/">
            <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
        </a>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/cart" class="link1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="25" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </a>
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
    </div>
</nav>

<div class="container mt-4">
    <h1 style="text-align: center">Особистий кабінет</h1> <hr> <br>

    <div th:if="${changeInfoMessage != null}">
        <div class="alert alert-success" role="alert">
            <p th:text="${changeInfoMessage}"></p>
        </div>
    </div>


    <div style="text-align: center">
        <img src="/static/images/1.png"
             style="border:2px solid black; border-radius: 20px" height="120">
        <br>
        <h2 th:text="${user.login}"></h2>
        <br>
        Рівень доступу: <b th:text="${user.roles}" /> <br>
        Ім'я користувача: <b th:text="${user.login}" /> <br>
        <div th:unless="${user.isAdmin()}">
            Поштова скринька: <b th:text="${user.mail}" /> <br>
            Номер телефону: <b th:text="${user.phone}" /> <br>
            Ім'я: <b th:text="${user.first_name}" /> <br>
            Прізвище: <b th:text="${user.last_name}" /> <br>
            По батькові: <b th:text="${user.middle_name}" /> <br>
        </div>
        <br>
        <br>

        <div th:unless="${user.isAdmin()}">
            <span><a th:href="@{/changeInfo}" class="btn btn-success mb-3" style="text-align: center; width: 100%">Змінити персональну інформацію</a></span>
            <span><a th:href="@{/changeMail}" class="btn btn-success mb-3" style="text-align: center; width: 100%">Змінити поштову скриньку</a></span>
            <span><a th:href="@{/changePassword}" class="btn btn-success mb-3" style="text-align: center; width: 100%">Змінити пароль</a></span>
            <span><a th:href="@{/myOrders}" class="btn btn-primary mb-3" style="text-align: center; width: 100%">Мої замовлення</a></span>
            <span><a th:href="@{/addCar}" class="btn btn-primary mb-3" style="text-align: center; width: 100%">Додати машину до гаражу</a></span>
        </div>

        <div th:if="${user.login}">
            <div th:if="${user.isAdmin()}">
                <span><a th:href="@{/user}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування користувачів</a></span>
                <span><a th:href="@{/addGood}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування товару</a></span>
                <span><a th:href="@{/orderList}" class="btn btn-dark mb-3" style="text-align: center; width: 100%">Адміністрування замовлення</a></span>
            </div>
        </div>


        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button type="submit" style="text-align: center; width: 100%" class="btn btn-danger mb-2">
                Вийти з акаунту
            </button>
        </form>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>