<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>AVTO SENAT</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/">
            <span class="navbar-brand mb-0 h1">AVTO SENAT</span>
        </a>
        <div th:if="${user.login}">
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="/static/images/1.png" alt="mdo"
                         width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
        <span th:unless="${user.login}">
        <button class="btn btn-light my-2 my-sm-0" type="button"
                onclick="window.location.href = '/login'">
            Увійти
        </button>
        </span>
    </div>
</nav>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1 class="text-center">Реєстрація</h1>
            <hr>

            <p th:text="${passwordError}" style="color: red;"></p>

            <form th:action="@{/registration}" method="post">
                <div class="row row-margin" style="margin-left: 30px;">
                    <div class="col">
                        <div class="form-group text-center" style="width: 200px;">
                            <p th:text="${loginError}" style="color: red;"></p>
                            <label class="d-block">Логін:
                                <input type="text" name="login" class="form-control input-sm" required>
                            </label>
                        </div>

                        <div class="form-group text-center"  style="width: 200px;">
                            <p th:text="${mailError}" style="color: red;"></p>
                            <label class="d-block">Поштова скринька:
                                <input type="email" name="mail" class="form-control input-sm" required>
                            </label>
                        </div>

                        <div class="form-group text-center"  style="width: 230px;">
                            <p th:text="${password_userError}" style="color: red;"></p>
                            <label class="d-block" style="margin-left: -25px; margin-bottom: 0px;">Пароль: </label>
                                <div class="input-group" style="width: 230px;">
                                    <input type="password" name="password_user" minlength="8" maxlength="20" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль повинен містити принаймні одну цифру, одну малу літеру, одну велику літеру та бути не менше ніж 8 символів" class="form-control input-sm" required>
                                    <button type="button" id="showPasswordBtn" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
                                </div>
                        </div>

                        <div class="form-group text-center"  style="width: 230px;">
                            <p th:text="${confirm_password_userError}" style="color: red;"></p>
                            <label class="d-block" style="margin-left: -30px; margin-bottom: 0px;">Підтвердження паролю: </label>
                                <div class="input-group" style="width: 230px;">
                                    <input type="password" name="confirm_password_user" minlength="8" maxlength="20" id="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль повинен містити принаймні одну цифру, одну малу літеру, одну велику літеру та бути не менше ніж 8 символів" class="form-control input-sm" required>
                                    <button type="button" id="showPasswordBtn2" style="border: none; background-color: white;"><i class="fa fa-eye"></i></button>
                                </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group text-center" style="width: 200px;">
                            <p th:text="${first_nameError}" style="color: red;"></p>
                            <label class="d-block">Ім'я:
                                <input type="text" name="first_name" class="form-control input-sm" required>
                            </label>
                        </div>

                        <div class="form-group text-center" style="width: 200px;">
                            <p th:text="${last_nameError}" style="color: red;"></p>
                            <label class="d-block">Прізвище:
                                <input type="text" name="last_name" class="form-control input-sm" required>
                            </label>
                        </div>

                        <div class="form-group text-center" style="width: 200px;">
                            <p th:text="${middle_nameError}" style="color: red;"></p>
                            <label class="d-block">По батькові:
                                <input type="text" name="middle_name" class="form-control input-sm" required>
                            </label>
                        </div>

                        <div class="form-group text-center" style="width: 200px;">
                            <p th:text="${phoneError}" style="color: red;"></p>
                            <label class="d-block">Номер телефону:
                                <input type="tel" pattern="[+]380[0-9]{9}" title="Формат телефона +380ХХХХХХХХХ" name="phone" class="form-control input-sm" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="error"></div>

                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <div style="display: flex; justify-content: center; align-items: center;" class="myBtn">
                    <button type="submit" style="width: 35%; margin-bottom: 50px;" class="btn btn-dark">Зареєструватися</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    @media(max-width: 425px){
    .row-margin{
    margin-left: 20%!important;
    }
    .myBtn button{
    width: 75%!important;
    }
    }

    @media(max-width: 375px){
    .row-margin{
    margin-left: 17.5%!important;
    }
    }

    @media(max-width: 320px){
    .row-margin{
    margin-left: 10.5%!important;
    }
    }
</style>




<script>
  const passwordField = document.getElementById("password");
  const showPasswordBtn = document.getElementById("showPasswordBtn");

  showPasswordBtn.addEventListener("click", function() {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField.type = "password";
      showPasswordBtn.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });

  const passwordField2 = document.getElementById("password2");
  const showPasswordBtn2 = document.getElementById("showPasswordBtn2");
  showPasswordBtn2.addEventListener("click", function() {
    if (passwordField2.type === "password") {
      passwordField2.type = "text";
      showPasswordBtn2.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordField2.type = "password";
      showPasswordBtn2.innerHTML = '<i class="fa fa-eye"></i>';
    }
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>