<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h4>Повна інформація про товар</h4>
<b>ID товара</b><p th:text="${good.id_good}" />
<table>
    <tr th:each="img : ${images}"> Фото
        <td><img th:src="@{/images/{imageId}(imageId=${img.image_id})}" height="100px"></td>
    </tr>
</table>
<br>
<b>Артикул</b><p th:text="${good.number}" />
<b>Назва товару</b><p th:text="${good.title}" />

<b>Назва бренду</b><p th:text="${good.model.brand.name_brand}" />
<b>Назва моделі</b><p th:text="${good.model.name_model}" />
<b>Рік моделі</b><p th:text="${good.model.year}" />

<b>Назва категорії</b><p th:text="${good.category.category_group.name_category_group}" />
<b>Назва підкатегорії</b><p th:text="${good.category.name_category}" />

<b>Назва виробника</b><p th:text="${good.producer.name_producer}" />
<b>Назва країни виробника</b><p th:text="${good.producer.country}" />

<b>Опис</b><p th:text="${good.description}" />
<b>Ціна (грн.)</b><p th:text="${good.price}" />

<hr>
<a th:href="@{/deleteGood/{id}(id=${good.id_good})}">Видалення товару</a>
</form>


</body>
</html>