<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
    <p>List of users</p>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${users}">
            <td th:text="${item.login}" />
            <td th:text="${item.roles}"/>
            <td><a th:href="@{/user/${item.user_id}}">edit</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>